<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Time</th>
      <th>Date</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Weather</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2021-11-24 21:43:00</td>
      <td>2021-11-24</td>
      <td>19</td>
      <td>73</td>
      <td>Clear</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2021-11-24 21:48:00</td>
      <td>2021-11-24</td>
      <td>19</td>
      <td>73</td>
      <td>Clear</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2021-11-24 21:51:00</td>
      <td>2021-11-24</td>
      <td>19</td>
      <td>73</td>
      <td>Clear</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2021-11-24 21:56:00</td>
      <td>2021-11-24</td>
      <td>19</td>
      <td>73</td>
      <td>Clear</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2021-11-24 22:14:00</td>
      <td>2021-11-24</td>
      <td>18</td>
      <td>73</td>
      <td>Clear</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2021-11-25 09:07:00</td>
      <td>2021-11-25</td>
      <td>21</td>
      <td>62</td>
      <td>Sunny</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2021-11-25 09:14:00</td>
      <td>2021-11-25</td>
      <td>21</td>
      <td>62</td>
      <td>Sunny</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2021-11-25 09:19:00</td>
      <td>2021-11-25</td>
      <td>21</td>
      <td>62</td>
      <td>Sunny</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2021-11-25 17:14:00</td>
      <td>2021-11-25</td>
      <td>25</td>
      <td>57</td>
      <td>Clear</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2021-11-27 11:29:00</td>
      <td>2021-11-27</td>
      <td>24</td>
      <td>48</td>
      <td>Sunny</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2021-11-27 14:47:00</td>
      <td>2021-11-27</td>
      <td>26</td>
      <td>40</td>
      <td>Sunny</td>
    </tr>
  </tbody>
</table>